
<div class="cardsDashboard" id="cardsDashboard">
    <div class="cards">
        <div>
            <div class="numberCards">@ViewBag.cantClientes</div>
            <div class="namesCards">Clientes Registrados</div>
        </div>
        <div class="logotipoCards">
            <i style="font-size:35pt;" class="fa-solid fa-user"></i>
        </div>
    </div>
    <div class="cards">
        <div>
            <div class="numberCards">@ViewBag.cantPeliculas</div>
            <div class="namesCards">Películas dando función</div>
        </div>
        <div class="logotipoCards">
            <i style="font-size:35pt;" class="fa-solid fa-clapperboard"></i>
        </div>
    </div>
    <div class="cards">
        <div>
            <div class="numberCards">@ViewBag.cantCines</div>
            <div class="namesCards">Cines operando</div>
        </div>
        <div class="logotipoCards">
            <i style="font-size:35pt;" class="fa-solid fa-video"></i>
        </div>
    </div>
    <div class="cards">
        <div>
            <div class="numberCards">@ViewBag.cantFunciones</div>
            <div class="namesCards">Funciones Programadas</div>
        </div>
        <div class="logotipoCards">
            <i style="font-size:35pt;" class="fa-solid fa-tape"></i>
        </div>
    </div>
    <div class="cards">
        <div>
            <div class="numberCards">@ViewBag.cantEntradas</div>
            <div class="namesCards">Entradas Vendidas</div>
        </div>
        <div class="logotipoCards">
            <i style="font-size:35pt;" class="fa-solid fa-ticket"></i>
        </div>
    </div>
</div>